
DB_URI='postgresql+asyncpg://postgres:postgres@localhost:5432/og'
USE_SSH_TUNNEL=false

SSH_HOST=
SSH_PORT=22
SSH_LOGIN=
SSH_PASS=

DB_REMOTE_HOST=127.0.0.1
DB_REMOTE_PORT=5432
SSH_LOCAL_BIND_PORT=6543

LOG_LEVEL='INFO'

SPREADSHEET_ID=""
GOOGLE_CREDENTIALS_PATH="credentials.json"

VK_API1=""
VK_API2=""

TG_TOKEN=""
TG_SOCKS="socks5://127.0.0.1:51066"

VK_MODERATOR_CHAT_PEER_ID=2000000001
MODER_LIMIT=5

API_HOST=localhost
API_PORT=9090
API_USERNAME=og
API_PASSWORD_HASH=$2b$12$lLuavAyd3aJL2FXWk8CXceDqW6vdzhZNA4v5kIgAAABhXrUp8TG5.
JWT_SECRET=$2b$12$lLuavAyd3aJL2FXWk8CXceDqW6vdzhZNA4v5kIgAAABhXrUp8TG5.
JWT_EXPIRE_MINUTES=1440